@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	font: 16px  "宋体";
}
p{
	margin:0;	
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
} 
#frendsList {
	width: 200px;
	margin:10px auto 0;
	border: 1px solid #000;
}
#frendsList p{
	background:#63f7ff;
	height: 30px;
	margin: 0;
	font: 16px/30px "宋体";
	text-indent: 20px; 
}
#frendsList ul{
	display: none;
}
#frendsList ul li {
	height: 30px;
	border-bottom: 1px solid #F36;
}
#frendsList .red {
	background:red;
}