@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
}
input {
	padding: 0;
	outline: none;
	border:
}
#section {
	width: 600px;
	height: 600px;
	margin: 40px auto 0; 
}
#imgs {
	width: 400px;
	height: 400px;	
	margin-bottom:20px;
	vertical-align:top;
	display: block;
}
input {
	border:none;
	margin-left:60px;
	background:#603;
	width:100px;
	height: 40px;
	font: 20px/40px "微软雅黑";
	color:#fff;
	border-radius:5px;
}