@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
}
a {
	text-decoration:none;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.clearFix:after {
	content: "";
	display: block;
	clear: both;
}
form {
	margin: 0;
	border: none;
}
input {
	border: none;
	padding: 0;
	outline: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/*end css*/
#ipBox {
	position: relative;
	width:289px;
	height: 507px;	
	padding-top:87px ;
	background:url(../img/2.png) no-repeat;
}
#ipBoxmess {
	position: absolute;
	top: 87px;
	margin:0 26px;
	width: 237px; 
	height:370px;
	overflow: auto;
}
#ipBoxmess li {
	width: 100%;
}

#sendBox {
	position: absolute;
	border-top: 1px solid #bdcec6;
	height: 41px;
	padding-top:7px;
	padding-left: 4px;
	margin:0 26px 88px;
	bottom:0;
	left: 0;
	background: #f7f7f7;
}
#spanIco {
	display: inline-block;
	border: 1px solid #ded6e7;
	width: 27px;
	height: 28px;
	padding: 6px 0 0 3px;
	border-radius: 4px;
	vertical-align:top;
}
#textCon {
	border: 1px solid #ded6e7;
	height: 34px;
	width:139px;
	font: 12px/34px "微软雅黑";
	border-radius: 4px;	
	vertical-align:top;
}
#sendMess {
	font:bold 22px/36px "微软雅黑";
	color:#8c8494;
	background:#f7f7f7;	
	vertical-align:top;
}